<a href="https://colab.research.google.com/github/sunchushiva/python-pandas/blob/master/Pandas_Practice_problem_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

sales = pd.Series(
    [150, 200, 350, 120, 400, 500],
    index=["Laptop", "Tablet", "Smartphone", "Headphones", "Monitor", "Keyboard"],
    name="Sales"
)

temperature = pd.Series(
    [10, 15, 22, 25, 30, 35],
    index=["January", "February", "March", "April", "May", "June"],
    name="Temperature"
)

print(sales, "\n")
print(temperature)

Laptop        150
Tablet        200
Smartphone    350
Headphones    120
Monitor       400
Keyboard      500
Name: Sales, dtype: int64

January     10
February    15
March       22
April       25
May         30
June        35
Name: Temperature, dtype: int64

# Practice Problems - EASY

## Basic Series Operations:
- Retrieve the sales figure for "Tablet".
- Get the index of the temperature Series.
- Extract the first 3 values from the sales Series.


## Conditional Filtering:
- Find products with sales greater than 300.
- Identify months where the temperature exceeds 20°C.


## Statistical Summary:
- Compute the sum of all sales.
- Calculate the mean temperature from the temperature Series.


## Handling Missing Values:
- Add a missing value (None) for "April" in the temperature Series.
- Replace the missing value with the average temperature.

In [18]:
# Basic Series Operations:


# Retrieve the sales figure for "Tablet".
tablet_sales = sales.loc["Tablet"]
print(tablet_sales, "\n")

# Get the index of the temperature Series.
temperature_index = temperature.index
print(temperature_index, "\n")

# Extract the first 3 values from the sales Series.
first_three = sales.head(3)
print(first_three)

200

Index(['January', 'February', 'March', 'April', 'May', 'June'], dtype='object')

Laptop        150
Tablet        200
Smartphone    350
Name: Sales, dtype: int64

In [19]:
# Conditional Filtering:


# Find products with sales greater than 300.
condition_one = sales[sales > 300]
print(condition_one, "\n")

# Identify months where the temperature exceeds 20°C.
condition_two = temperature[temperature > 20]
print(condition_two)

Smartphone    350
Monitor       400
Keyboard      500
Name: Sales, dtype: int64

March    22
April    25
May      30
June     35
Name: Temperature, dtype: int64

In [20]:
# Statistical Summary:


# Compute the sum of all sales.
sales_sum = sales.sum()
print(sales_sum, "\n")

# Calculate the mean temperature from the temperature Series.
temperature_mean = round(temperature.mean(), 2)
print(temperature_mean)

1720

22.83

In [21]:
# Handling Missing Values:


# Add a missing value (None) for "April" in the temperature Series.
temperature["April"] = None
print(temperature, "\n")

# Replace the missing value with the average temperature.
temperature = temperature.fillna(temperature_mean)
print(temperature)

January     10.0
February    15.0
March       22.0
April        NaN
May         30.0
June        35.0
Name: Temperature, dtype: float64

January     10.00
February    15.00
March       22.00
April       22.83
May         30.00
June        35.00
Name: Temperature, dtype: float64

# Practice Problems - MEDIUM

## Sorting:
- Sort the sales Series by values in descending order.
- Sort the temperature Series alphabetically by the month names.

## Arithmetic Operations:
- Increase all sales figures by 10%.
- Convert temperature from Celsius to Fahrenheit using the formula:
f = (c * 1.8) + 32

## Custom Transformation:
- Write a function to categorize sales as:
  - Low: Sales < 200
  - Medium: 200 ≤ Sales < 400
  - High: Sales ≥ 400

  Apply this function to the sales Series.

## Handling Missing Data:
- Introduce a missing value in the sales Series for "Monitor".
- Fill it with the median sales value.

## Boolean Indexing:
- Filter and list the months where temperature is in the range 15°C to 30°C.

In [22]:
# Sorting:


# Sort the sales Series by values in descending order.
sales_sorted = sales.sort_values(ascending=False)
print(sales_sorted, "\n")

# Sort the temperature Series alphabetically by the month names.
temperature_sorted = temperature.sort_index()
print(temperature_sorted)

Keyboard      500
Monitor       400
Smartphone    350
Tablet        200
Laptop        150
Headphones    120
Name: Sales, dtype: int64

April       22.83
February    15.00
January     10.00
June        35.00
March       22.00
May         30.00
Name: Temperature, dtype: float64

In [23]:
# Arithmetic Operations:


# Increase all sales figures by 10%.
sales = sales.apply(lambda x: x * 1.10)
print(sales, "\n")

# Convert temperature from Celsius to Fahrenheit using the formula: f = (c * 1.8) + 32
def celToFah(celsius):
  calculation = (celsius * 1.8) + 32
  return round(calculation, 2)

temperature = temperature.apply(celToFah)
print(temperature)

Laptop        165.0
Tablet        220.0
Smartphone    385.0
Headphones    132.0
Monitor       440.0
Keyboard      550.0
Name: Sales, dtype: float64

January     50.00
February    59.00
March       71.60
April       73.09
May         86.00
June        95.00
Name: Temperature, dtype: float64

In [24]:
# Custom Transformation:


# Write a function to categorize sales as:
# Low: Sales < 200
# Medium: 200 ≤ Sales < 400
# High: Sales ≥ 400
# Apply this function to the sales Series.

categorised_sales = sales.sort_values(ascending=False)

def label(sale):
  if(sale >= 400):
    return "High"
  elif(200 <= sale < 400):
    return "Medium"
  elif(sale < 200):
    return "Low"

categorised_sales = categorised_sales.apply(label)
print(categorised_sales, "\n")
print(sales)

Keyboard        High
Monitor         High
Smartphone    Medium
Tablet        Medium
Laptop           Low
Headphones       Low
Name: Sales, dtype: object

Laptop        165.0
Tablet        220.0
Smartphone    385.0
Headphones    132.0
Monitor       440.0
Keyboard      550.0
Name: Sales, dtype: float64

In [25]:
# Handling Missing Data:


# Introduce a missing value in the sales Series for "Monitor".
sales["Monitor"] = None
print(sales, "\n")

# Fill it with the median sales value.
sales_mean = round(sales.mean(), 2)
sales = sales.fillna(sales_mean)
print(sales, "\n")

Laptop        165.0
Tablet        220.0
Smartphone    385.0
Headphones    132.0
Monitor         NaN
Keyboard      550.0
Name: Sales, dtype: float64

Laptop        165.0
Tablet        220.0
Smartphone    385.0
Headphones    132.0
Monitor       290.4
Keyboard      550.0
Name: Sales, dtype: float64

In [26]:
# Boolean Indexing:

# Filter and list the months where temperature is in the range 15°C to 30°C.
print(temperature, "\n")
filtered_months = temperature[(temperature >= 15) & (temperature <= 30)]
print(filtered_months)

January     50.00
February    59.00
March       71.60
April       73.09
May         86.00
June        95.00
Name: Temperature, dtype: float64

Series([], Name: Temperature, dtype: float64)

# Practice Problems - HARD

## Group Analysis:
- Create a new Series with product categories:
  - Electronics: Laptop, Tablet, Smartphone
  - Accessories: Headphones, Monitor, Keyboard
- Group the sales figures by these categories and compute the total sales for each group.

## Rolling Window Analysis:
- Compute a 3-month rolling average for the temperature Series.

## Apply Multi-Series Operations:
- Assume there's another Series representing monthly rainfall:
```
rainfall = pd.Series(
    [50, 40, 30, 20, 10, 5],
    index=["January", "February", "March", "April", "May", "June"],
    name="Rainfall"
)
```
- Multiply temperature and rainfall element-wise to compute a "heat index."
- Find the month with the highest heat index.

## Chaining Operations:
- Perform the following on the sales Series in a single operation:
- Filter products with sales > 200.
- Sort the filtered Series by values in ascending order.
- Replace sales > 400 with "Bestseller".

## Resampling and Aggregation:
- Assume the temperature Series is extended to daily temperatures for 6 months.
- Use .resample() to compute the average monthly temperature.

## Multi-Index Series:
- Create a Series with a multi-level index where:
  - The first level is the product category (Electronics, Accessories).
  - The second level is the product name.
  - Assign sales values to this Series and compute:
    - Total sales for each category.
    - Percentage contribution of each product to its category.

In [27]:
# Group Analysis:


# Create a new Series with product categories:
# Electronics: Laptop, Tablet, Smartphone
# Accessories: Headphones, Monitor, Keyboard

sales_data = {
    "Laptop": 150,
    "Tablet": 200,
    "Smartphone": 350,
    "Headphones": 120,
    "Monitor": 400,
    "Keyboard": 500,
}

new_sales = pd.Series(sales_data, name="Sales")

categories = {
    "Laptop": "Electronics",
    "Tablet": "Electronics",
    "Smartphone": "Electronics",
    "Headphones": "Accessories",
    "Monitor": "Accessories",
    "Keyboard": "Accessories",
}

product_categories = pd.Series(categories, name="Category")

# Group the sales figures by these categories and compute the total sales for each group.

category_sales = {}

product_sales = new_sales.index

for product in product_sales:
  key = product_categories[product]

  if key in category_sales:
    category_sales[key] = category_sales[key] + new_sales.loc[product]
  else:
    category_sales[key] = new_sales.loc[product]


category_sales_series = pd.Series(category_sales, name="Sales by category")
print(category_sales_series)

Electronics     700
Accessories    1020
Name: Sales by category, dtype: int64

In [28]:
# Rolling Window Analysis:


# Compute a 3-month rolling average for the temperature Series.
print(temperature, "\n")
three_month_rolling = temperature.rolling(window=3).mean().round(2)

print(three_month_rolling)

January     50.00
February    59.00
March       71.60
April       73.09
May         86.00
June        95.00
Name: Temperature, dtype: float64

January      NaN
February     NaN
March       60.2
April       67.9
May         76.9
June        84.7
Name: Temperature, dtype: float64

In [29]:
# Apply Multi-Series Operations:


# Assume there's another Series representing monthly rainfall:
rainfall = pd.Series(
  [50, 40, 30, 20, 10, 5],
  index=["January", "February", "March", "April", "May", "June"],
  name="Rainfall"
)

# Multiply temperature and rainfall element-wise to compute a "heat index."
heat_index_dict = {}

for month in rainfall.index:
  calculation = temperature[month] * rainfall[month]
  heat_index_dict[month] = round(calculation, 2)

heat_index_series = pd.Series(heat_index_dict, name="Heat index")
print(heat_index_series, "\n")

# Find the month with the highest heat index.
highest_heat_index = heat_index_series.idxmax()
print(highest_heat_index)

January     2500.0
February    2360.0
March       2148.0
April       1461.8
May          860.0
June         475.0
Name: Heat index, dtype: float64

January

In [30]:
# Chaining Operations:


# Perform the following on the sales Series in a single operation:
# Filter products with sales > 200.
# Sort the filtered Series by values in ascending order.
# Replace sales > 400 with "Bestseller".

print(sales, "\n")
filtered_sales = sales[sales > 200]
filtered_sales = filtered_sales.sort_values()
filtered_sales = filtered_sales.mask(filtered_sales > 400, "Bestseller")

print(filtered_sales)

Laptop        165.0
Tablet        220.0
Smartphone    385.0
Headphones    132.0
Monitor       290.4
Keyboard      550.0
Name: Sales, dtype: float64

Tablet             220.0
Monitor            290.4
Smartphone         385.0
Keyboard      Bestseller
Name: Sales, dtype: object

In [31]:
# Resampling and Aggregation:


# Assume the temperature Series is extended to daily temperatures for 6 months.
date_index = pd.date_range(start="2024-01-01", end="2024-06-30", freq="D")
data_temperature = np.random.randint(5, 35, size=len(date_index))

daily_temperatures = pd.Series(
    data=data_temperature,
    index=date_index,
    name="Daily Temperature"
)

# Use .resample() to compute the average monthly temperature.
avg_monthly_temp = daily_temperatures.resample("ME").mean().round(2)
print(avg_monthly_temp)

2024-01-31    21.29
2024-02-29    16.69
2024-03-31    20.06
2024-04-30    18.10
2024-05-31    18.29
2024-06-30    19.90
Freq: ME, Name: Daily Temperature, dtype: float64

In [32]:
# Multi-Index Series:


# Create a Series with a multi-level index where:
# The first level is the product category (Electronics, Accessories).
# The second level is the product name.

categories_array = []
products_array = []

for product in product_categories.index:
  products_array.append(product)
  categories_array.append(product_categories[product])

multi_index = pd.MultiIndex.from_arrays([categories_array, products_array], names=["category", "product"])

# Assign sales values to this Series and compute:
series = pd.Series(new_sales.values, index=multi_index)
print(series, "\n")

# Total sales for each category.
category_group = series.groupby(by="category").sum()
print(category_group, "\n")

# Percentage contribution of each product to its category.
# percentage contribution = (total sales in category / product sales) * 100
percent_contribution = (
    series / series.groupby(by="category").transform("sum")).round(2) * 100

print(percent_contribution)

category     product
Electronics  Laptop        150
             Tablet        200
             Smartphone    350
Accessories  Headphones    120
             Monitor       400
             Keyboard      500
dtype: int64

category
Accessories    1020
Electronics     700
dtype: int64

category     product
Electronics  Laptop        21.0
             Tablet        29.0
             Smartphone    50.0
Accessories  Headphones    12.0
             Monitor       39.0
             Keyboard      49.0
dtype: float64