<a href="https://colab.research.google.com/github/sunchushiva/python-pandas/blob/master/Pandas_Series_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Aggregation Functions: sum(), mean(), min(), and max()

seriesOne = pd.Series(data=[1, 2, 3, 4, 5], index=list("abcde"))

print(seriesOne, "\n\n")
print(seriesOne.sum(), type(seriesOne.sum()), "\n")
print(seriesOne.mean(), type(seriesOne.mean()), "\n")
print(seriesOne.min(), type(seriesOne.min()), "\n")
print(seriesOne.max(), type(seriesOne.max()), "\n")

a    1
b    2
c    3
d    4
e    5
dtype: int64


15 <class 'numpy.int64'>

3.0 <class 'numpy.float64'>

1 <class 'int'>

5 <class 'int'>

In [3]:
# Filtering

seriesTwo = pd.Series([23, 54, 69, 86, 900, 8, 2000])

print(seriesTwo[seriesTwo > 50], "\n")
print(seriesTwo[seriesTwo == 2000], "\n")
print(seriesTwo[seriesTwo < 20], "\n")
print(seriesTwo[(seriesTwo > 40) & (seriesTwo < 100)], "\n")

1      54
2      69
3      86
4     900
6    2000
dtype: int64

6    2000
dtype: int64

5    8
dtype: int64

1    54
2    69
3    86
dtype: int64

In [4]:
# Handling Missing Data: fillna(), dropna(),
# These methods return new Series dict but does not change the original one, unless inplace keyword argument is explicitly set to True

seriesThree = pd.Series([1, 2, np.nan, 4, 5])

print(seriesThree.hasnans, "\n")
print(seriesThree.fillna(0), "\n")
print(seriesThree, "\n")
print(seriesThree.fillna(0, inplace=True), "\n")
print(seriesThree, "\n")

True

0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

0    1.0
1    2.0
2    NaN
3    4.0
4    5.0
dtype: float64

None

0    1.0
1    2.0
2    0.0
3    4.0
4    5.0
dtype: float64

In [5]:
seriesFour = pd.Series(np.nan, index=[1, 2, 3, 4, 5])

print(seriesFour.hasnans, "\n")
print(seriesFour.dropna(), "\n")
print(seriesFour, "\n")
print(seriesFour.dropna(inplace=True), "\n")
print(seriesFour, "\n")

True

Series([], dtype: float64)

1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
dtype: float64

None

Series([], dtype: float64)

In [6]:
print(seriesFour.size, "\n")
print(seriesFour.index, "\n")
print(seriesFour.values, "\n")

0

Index([], dtype='int64')

[]