<a href="https://colab.research.google.com/github/sunchushiva/python-pandas/blob/master/Pandas_Series_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
# from pandas import DataFrame

In [2]:
# Series

# Series: A Series is a one-dimensional labeled array capable of holding any data type (e.g., integers, floats, strings).
# It can be thought of as a single column of data with an index.
# Size-immutable; once created, the size cannot be changed.
# Primarily used for operations on single variables, such as element-wise operations and basic statistics.
# Has a single index that labels each element.

In [3]:
seriesOne = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])

seriesOne

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [4]:
# print(seriesOne.e) -> No output
print(seriesOne["e"])

print(seriesOne[["a", "c"]])
# Outputs: Values at index a and c only i.e. 1 3

5
a    1
c    3
dtype: int64

In [5]:
seriesTwo = pd.Series([1, 2, "s", True, 90.90])

seriesTwo[2] = "yes"

print(seriesTwo)

0       1
1       2
2     yes
3    True
4    90.9
dtype: object

In [6]:
seriesThree = pd.Series([1, 2, 5, 9], index=list("abcd"))
print(seriesThree)
# a    1
# b    2
# c    5
# d    9
# dtype: int64

seriesFour = pd.Series(list("abcde"), index=[1, 2, 3, 4, 5])
print(seriesFour)
# 1    a
# 2    b
# 3    c
# 4    d
# 5    e
# dtype: object

seriesFive = pd.Series({"name": "john", "last_name": "doe", "email": "johdoe@gmail.in"})
print(seriesFive)
# name    john
# last_name    doe
# email    johdoe@gmail.in
# dtype: object

seriesSix = pd.Series(5, index=list("1234"))
print(seriesSix)
# 1    5
# 2    5
# 3    5
# 4    5
# dtype: int64

a    1
b    2
c    5
d    9
dtype: int64
1    a
2    b
3    c
4    d
5    e
dtype: object
name                    john
last_name                doe
email        johdoe@gmail.in
dtype: object
1    5
2    5
3    5
4    5
dtype: int64

In [7]:
# .iloc[position] -> to access data using position value of the series

print(seriesThree.iloc[0])
# 1

print(seriesFour.iloc[1])
# b

print(seriesFive.iloc[2])
# johdoe@gmail.in

1
b
johdoe@gmail.in

In [8]:
# .loc[index] -> to access data using index value of the series

print(seriesThree.loc["a"])
# 1

print(seriesFour.loc[2]) # 2 is an int because the index value provided for seriesFour is an int list
# b

print(seriesFive.loc["email"])
# johdoe@gmail.in

1
b
johdoe@gmail.in

In [9]:
# .index and .values -> Retrieving Indexes and Values array

print(seriesThree.index)
# Index(['a', 'b', 'c', 'd'], dtype='object')

print(seriesFour.values)
# ['a' 'b' 'c' 'd' 'e']

print(seriesFive.index)
# Index(['name', 'last_name', 'email'], dtype='object')

print(seriesSix.values)
# [5 5 5 5]

Index(['a', 'b', 'c', 'd'], dtype='object')
['a' 'b' 'c' 'd' 'e']
Index(['name', 'last_name', 'email'], dtype='object')
[5 5 5 5]

In [10]:
# Other attributes of Series dict: -
# dtype: Returns the data type of the elements in the Series.
# size: Returns the number of elements in the Series.
# shape: Returns the dimensions of the Series (e.g., (n,)).
# empty: Checks if the Series is empty.
# hasnans: Checks if there are any NaN values in the Series.

print(seriesThree.dtype) #int64
print(seriesFour.dtype) #object(string)
print(seriesSix.dtype) #int64

print(seriesTwo.size) # 5
print(seriesFive.size) # 3

print(seriesOne.shape) # (5,)
print(seriesTwo.shape) # (5,)
print(seriesSix.shape) # (4,)

int64
object
int64
5
3
(5,)
(5,)
(4,)
1
2
dtype: object
object
2
(2,)
False
------
object
0
True
(0,)
False

In [ ]:
seriesSeven = pd.Series(data="", index=[1, 2])
seriesEight = pd.Series()


print(seriesSeven)
# 1
# 2

print(seriesSeven.dtype) # object
print(seriesSeven.size) # 2
print(seriesSeven.shape) # (2,)
print(seriesSeven.empty) # False

print("----")

print(seriesEight.dtype) # object
print(seriesEight.size) # 0
print(seriesEight.empty) # True
print(seriesEight.shape) # (0, )
print(seriesEight.hasnans) # False